h1 {
    text-align: center;
	font-family: 'OpenSansBold', sans-serif;
	font-weight: 300;
	color: #00FF33;
}

.logoposition {
	padding-top: 8%;
	margin-right: 30%;
}

.agecell {
	border: 3px solid #fff;
	background-color: #f56200;
	background-image: url("https://www.transparenttextures.com/patterns/large-leather.png");
	padding: 10px 10px 10px 10px;
}

.dangercell {
	border: 3px solid #fff;
	background-color: #f56200;
	background-image: url("https://www.transparenttextures.com/patterns/large-leather.png");
	padding: 10px 10px 10px 10px;
}

.mydeckcell {
	border: 3px solid #fff;
	background-color: #f56200;
	background-image: url("https://www.transparenttextures.com/patterns/large-leather.png");
	padding: 10px 10px 10px 10px;
}

.flashtext {
	text-align: center;
	font-family: 'OpenSansBold', sans-serif;
	font-weight: 600;
	font-size: 300%;
	color: #fff;
	width: 60%;
	background-color: #00FF33;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.myhandcell {
	border: 3px solid #fff;
	background-color: black;
	padding: 10px 10px 10px 10px;
}

.computerbg {
	background-color: black;
	font-family: 'OpenSansBold', sans-serif;
	font-weight: 300;
	color: #00FF33;
	border: 3px solid #fff;
	text-align: center;
}

.inplaycell {
	background-color: #f5550c;
	background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
	padding: 10px 10px 10px 10px;
}

.squareone {
	width: 20px;
	height: 20px;
	background: #00FF33;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.squaretwo {
	width: 20px;
	height: 20px;
	background: #FFF400;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.squarethree {
	width: 20px;
	height: 20px;
	background: #C2272D;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.squarefour {
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	background-color: #f56200;
	background-image: url("https://www.transparenttextures.com/patterns/large-leather.png");
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.playarea {
    text-align: center;
	font-family: Impact, Charcoal, sans-serif;
    font-size: 400%;
	color: black;
}

/*table, th, td {
   border: 1px solid black;
}*/

body {
background-color: #f5550c;
background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

span {
    color: #cc3700;
    font-family: 'Impact';
	font-size: 20px;
}

.cardselect:hover {
	box-shadow: inset 0 100px 0 0 #fff;
    color: #FFF;
}

.centered {
	box-shadow: 10px 10px 5px #666666;
	border: 8px solid #fff;
	margin-top: 5%;
    margin-left: auto;
	margin-right: auto;
	margin-bottom:5%;
	display: block;
}

.cardselected {
	margin-right:50px; 
	margin-bottom: 20px;
}

.cardselected:link { 
	-moz-box-shadow: 0 0 10px #fff;
	-webkit-box-shadow: 0 0 10px #fff;
	box-shadow: 0px 0px 10px #fff;
}

.cardselected:hover {
	-moz-box-shadow: 0 0 10px #fff;
	-webkit-box-shadow: 0 0 10px #fff;
	box-shadow: 0px 0px 10px #fff;
}

.cardselected:active { 
	-moz-box-shadow: 0 0 10px #00F;
	-webkit-box-shadow: 0 0 10px #00F;
	box-shadow: 0px 0px 10px #00F;
}

.cardselected:visited { 
	-moz-box-shadow: 0 0 10px #00F;
	-webkit-box-shadow: 0 0 10px #00F;
	box-shadow: 0px 0px 10px #00F;
}

.rotation {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.headertable {
	margin-left: auto;
    margin-right: auto;
	margin-top: -10px;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 80%;
	font-family: Helvetica, sans-serif;
	background-image: url("cardimg/AstronautBackground.png");
	background-repeat: no-repeat;
    background-position: 50% 10%; 
}

.headerleft {
	width: 33%;
}

.headercenter {
	width: 33%;
}

.headerright {
	width: 33%;
}

.maintable {
	margin-left:auto; 
    margin-right:auto;
	padding-right:20px;
	padding-left:20px;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.5);
	font-family: Helvetica, sans-serif;
	table-layout: fixed;
	word-wrap: break-word;
}

.headercell {
	padding: 100px;
}


/*Grey Button*/
.button_sliding_bg {
    color: #31302B;
    background: #FFF;
    padding: 12px 17px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #77ff62;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.button_sliding_bg:hover {
    box-shadow: inset 0 100px 0 0 #31302B;
    color: #FFF;
}

/*Deck Selection*/
.card_select_bg {
    color: #31302B;
    background: #FFF;
    padding: 12px 17px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #31302B;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.card_select_bg:hover {
    box-shadow: inset 0 100px 0 0 #31302B;
    color: #FFF;
}

.centeredbuttons {
	text-align: center;
}

ol{
    list-style-type: none;
    margin-left: 30px;
    padding: 0;
    /* Setup the counter. */
    counter-reset: yourVariableName;
}
li:before{
    /* Advance the number. */
    counter-increment: yourVariableName;
    /* Use the counter number as content. */
    content: counter(yourVariableName) ': ';
    color: #cc3700;
    font-family: 'Impact';
	font-size: 20px;
}

ol li {
	padding-top: 10px;
}

footer {
  background-color:#000;
  margin: 0px;
}

footer h2 {
	color: #fff;
}

footer a {
	color: #fff;
}

.tutorial-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
}